backports-abc==0.4
bokeh==0.10.0
certifi==2022.12.7
click==6.6
flask>=1.0.0
Flask-SocketIO==2.7.1
gevent==1.1.2
greenlet==0.4.10
influxdb==4.1.0
itsdangerous==0.24
Jinja2>=2.10.1
MarkupSafe==0.23
numpy==1.22.0
pandas==0.18.1
python-dateutil==2.5.3
python-engineio>=3.9.0
python-socketio==1.6.0
pytz==2016.6.1
pyyaml>=4.2b1
pyzmq==15.4.0
requests>=2.20.0
singledispatch==3.4.0.3
six==1.10.0
socketIO-client==0.7.0
tornado==6.3.2
websocket-client==0.37.0
Werkzeug==2.2.3

